<div id="Cadastrar">
<h1>Se cadastre aqui!<h1>
<form action="/Cadastro/add" method="post">
        <p><label for="Nome_Cadastro">Nome de usuário: </label></p>
        <p><input type="text" id="nome" name="nome"></p>
        <p><label for="Senha_Cadastro">Senha: </label></p>
        <p><input type="password" id="Senha" name="Senha" required></p>
        <SELECT name="Cargo">
            <option value="Admin">Admin: </option>
            <option value="Cliente">Cliente: </option>
        </SELECT>
        <p><input type="submit" value="Enviar"></p>
</form>
</div>