<nav id="Login">
    <h1>Faça seu Login</h1>
<form action="/Login/add" method="POST">
    <label for="nome">Nome de usuário:</label>
    <input type="text" id="nome" name="nome" required><br><br>

    <label for="Senha">Senha</label>
    <input type="password" id="Senha" name="Senha" required><br><br>

    <p class="call-to-action">
        Não tem cadastro? <a href="/Cadastro/new">Cadastre-se aqui!</a>
    </p>
    <button type="submit">Login</button>
    
</form>
</nav>