<div id="sofrimento">
<h1>Bem vindo ao seção de pedidos!" nos envie seus pedidos e logo esatemos entregando ai na sua casa</h1>
<form action="/Pedido/add" method="post">
        <p><label for="nome">Nome do pedido:</label></p>
        <p><input type="text" id="nome" name="nome"></p>
        <p><label for="Detalhes">Detalhes extras(caso tiver):</label></p>
        <p><textarea id="Detalhes" name="Detalhes"></textarea></p>
        <p><label for="Endereço">Endereço:</label></p>
        <p><textarea id="Endereço" name="Endereço"></textarea></p>
        <p><input type="submit" value="Enviar"></p>
</form>
</div>
